{{#extends 'base'}}
{{#block 'content'}}

    <h1>Delete Book</h1>

    <form method="post">
        <div>
            <label>ID :</label>
            <input type="text" name="id" id="id" class="form-control">
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

{{/block}}
{{/extends}}